@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-base-100: #e6f7f3;
  --color-base-200: #afadac;
  --color-base-300: #dcdad9;
  --color-base-400: #60a08f;
  --color-primary: #bfd9d2;
  --color-secondary: #33424e;
  --color-secondary-content: #1f473d;
}

.container {
  @apply md:w-11/12 mx-auto;
}

.myBtn {
  @apply btn btn-outline btn-secondary hover:text-base-100 font-semibold;
}

/* @import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;

  
} */

li a.active {
  @apply underline;
}
